* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background: #f9f9f9;
    padding: 20px;
    color: #333;
  }
  
  main {
    max-width: 1200px;
    margin: auto;
  }
  
  /* 카드 */
  #cardGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 120px); /* 3열 고정 */
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    margin: 0 auto 20px auto;
    padding: 10px;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
  }
  
  .card-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
  }
  
  /* 삭제 버튼 */
  .remove-btn {
    position: absolute;
    top: 29px;
    right: 0px;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    z-index: 2;
  }
  
  /* 슬롯 */
  #cardSlots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    margin: 0 auto 20px auto;
    padding: 10px;
    padding-left: 60px;
  }
  
  .slot {
    flex: 0 0 auto;
    width: 90px;
    aspect-ratio: 2/3;
    border: 2px dashed #bbb;
    border-radius: 8px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 버튼 */
  #nextButton {
    display: block;
    margin: 0 auto 10px auto;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #orderDisplay {
    text-align: center;
    font-size: 1rem;
  }
  
  /* 반응형 */
  @media (max-width: 768px) {
    #cardGrid {
      grid-template-columns: repeat(3, 1fr); /* 태블릿: 2열 */
    }
  }
  
  @media (max-width: 480px) {
    #cardGrid {
      grid-template-columns: repeat(12, 120px); /* 모바일에서 10개 나열 */
      overflow-x: scroll;
      justify-content: start;
    }
  }